.container {
    margin: auto; 
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    width: 600px;
    height: 500px;
}
.column{
    display: flex;
    flex-direction: column;
}
.linha {
    display: flex;
    flex-direction: row;
    margin: 8px;
}
.label {
    width: 150px;
    margin-right: 16px;
    text-align: right;
}
